h1, h2, h3, h4, h5,h6 {
    font-family: 'Merriweather',
    serif;
}
h2 {
    font-size: 44px;
}
p, a {
    font-family: 'Poppins',
    sans-serif;
}
.header-header {
    height: auto;
    background-color: #1e1d26;
}
.logo {
    text-align: center;
}
.logo img {
    margin: 15px 0;
}
.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-menu a {
    text-decoration: none;
    color: #c2bfd4;
    font-weight: 700;
    
}
.main-menu a:hover {
    color:#ffffff;
}
.main-menu li {
    padding: 0 15px;
    margin: 15px 0;
}
.b-i {
    background-position: center top;
    background-image: url(images/image-1.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding-top: 140px;
    padding-bottom: 120px;
    
}